community = Acrophobia
fullscreen = 0
conditionalfullscreen = 1
width = 800
height = 600
updateserver = 128.11.20.165
updatebase = /acrophobia/shell/UpdateFiles/
ShellVersion = 1.0.0.45
reqfields = name,birthdate,email
readfields = birthdate
bannertags = /?adiframe|2.0|2|105257|1|1|ADFORCE
sponsortags = /?adiframe|2.0|2|107754|1|341|ADFORCE;
bannerfrequency = 60
adserver = adforce.imgis.com:80
displayurl = http://128.11.20.165/acrophobia/shell/GameFiles/index.html
directoryserver = acro.east.won.net:15101
directoryserver = acro.central.won.net:15101
directoryserver = acro.west.won.net:15101
;;defaultendpage = http://www.bezerk.com/acro
defaultendpage = http://www.flipside.com/games/party/acro

noresize = 1
MaxNewNameLength = 12
